	*{
				margin: 0;
				padding: 0;
			}
	html{
		background-color: #434743;
	}
	html .amogus{
		background-color: #161a1f;
		border: 4px solid white;
		color: white;
	}

html .amogus2{
				background-color: #161a1f;
		border: 4px solid white;
		color: white;
}


.konk{
	font-size: 20px;
	padding-top: 80px;
}

.imglogo{
	width: 70px;
	position: absolute;
	border-radius: 1000px;
}

.pclass{
	font-size: 20px;
    font-family: 'Pacifico', cursive;

    font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
}
body header {
	background-color: #353b39;
  box-shadow: 0 4px 6px rgba(0,0,0,.2); 
  top: 0;
  height: 100px;
  position: fixed;
  width: 100%; 
}
nav {
  max-width: 660px;
  padding: 20px 0;
  overflow: hidden;
}

.logo {
  margin: 0;
  height: 100px;
  top: 0;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
}
ul {
  margin: 0;
  margin-right: 25px;
  padding-left: 0;
  list-style: none;
  float: right;
  height: 70px;
  line-height: 70px;
  flex-direction: column;
}
a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
ul li{
	position: relative;
	list-style: none;

}


body li a {
  color: #868686;
  text-transform: uppercase;
  	color: transparent;
	-webkit-text-stroke:1px red;
	margin-left: 10px;
	font-size: 24px;
}
li {
  display: inline-block;
  margin-left: 25px;
  transition: .5s linear;
}
body ul li a::before{
	opacity: 0.4;
	content: attr(data-text);
	position: absolute;
	color: white;
	width: 0;
	overflow: hidden;
	transition: 1s;
	border-right: 5px solid #353b39;
	height: 100%;

}
body ul li a:hover::before{
	opacity: 1;
	width: 100%;
	-webkit-text-stroke:0.8px white;
	text-shadow: 2px 2px 2px red;
}

body .first {
	max-height: 500px;
	width:100%;
	background-image: url(logo.bmp);
	background-size: cover;
	background-position: center;
	margin-top: 100px;
	
}
.title{
	text-align: center;
	padding-top: 80px;
	color: yellow;

}.first-line {
	text-transform: uppercase;
	font-size: 26px;
	font-weight:bold ;
	line-height: 1;
	opacity: 0.5;
	
}
.second-line {
	text-transform: uppercase;
	font-size: 64px;
	font-weight:bold ;	
	opacity: 0.5;
	line-height: 1;
}
.third-line {
	font-size: 20px;
	padding-top: 200px;
}
.text-conteiner {
	width: 40%;
	
}
.second{
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery-conteiner{
	width: 100%;
}
.img-conteiner{
	width: 70%;
	display: flex;
	align-items: flex-start;
}
img{
	display: block;
	max-width: 70%;
	height: auto;
}

.container2{
	display: flex;
	transform-style: preserve-3d;
	justify-content: center;
	position: absolute;
	margin-top: -50px;
	gap:6px;
	 left: 0; right: 0;


}
body .container2 .text{
	position: relative;
	width: 50px;
	height: 50px;
	transform-style: preserve-3d;	transform: rotateY(20deg) rotateX(10deg);
	transition: 2.5s ease-in-out;
}
body .container2 .text::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
background: linear-gradient(black,black,#8a2be2, black,#8a2be2,black);	transform-origin: left;
	transform: rotateY(90deg) translateX(-26px);
}
body .container2 .text span{
	position: absolute;
	top: 0; 
	left: 0;

	width: 100%;
	height: 100%;
background: linear-gradient(black,black,#8a2be2, black,#8a2be2,black);	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
	transform-style: preserve-3d;
	transform: rotateX(calc(90deg * var(--i))) translateZ(24px);
}

.container2 .text1{
	position: relative;
	width: 50px;
	height: 50px;
		transition: 2.5s ease-in-out;

	transform-style: preserve-3d;	transform: rotateY(20deg) rotateX(10deg);
}
body .container2 .text1::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background:  linear-gradient(red,blue);
	transform-origin: left;
	transform: rotateY(90deg) translateX(-26px);
}
body .container2 .text1 span{
	position: absolute;
	top: 0; 
	left: 0;

	width: 100%;
	height: 100%;
	background: linear-gradient(red,blue);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: white;
	transform-style: preserve-3d;
	transform: rotateX(calc(90deg * var(--i))) translateZ(24px);
}

.container2:hover .text{
	transform: rotateX(190deg);
	}
.container2:hover .text1{
	transform: rotateX(280deg);
	}



body #btn{
	border-radius: 20px; 
	background-color: white;
	color: black;

}

body .btn2{
	border-radius: 20px; 
	color: black;
	height: 50px;
	font-size: 20px;
	width: 200px;
	position: relative;
    background: white;
    border:3px solid black;
 	right: 0;
 	margin-top: 10px;



}

body .popup{
	background-color: #4f4f4f;
}


body label input:checked ~ span{
	background-color: white;
	box-shadow: 0 15px 25px white;
	border: 5px solid black;
}

label span i{
	position: absolute;
	top: 4px;
	left: 4px;
	width: 72px;
	height: 72px;background-color: ;
	border-radius: 50%;
	transition: 0.5s

}

body label input:checked ~ span i{
	left: 84px;
	background-color: black;

}

label span i ion-icon{
	font-size: 30px;
	text-align: center;
	justify-content: center;
	margin-top: 18px;
	margin-left: 20px;''
}

body  label input:checked ~ span i ion-icon{
color:white;
	background-color: ;


}


		@media screen and (max-width: 445px){
			body label input:checked ~ span i{
	left: 37px;


}

			body header {
	background-color: #353b39;
  box-shadow: 0 4px 6px rgba(0,0,0,.2); 
  top: 0;
  height: 80px;
  position: fixed;
  width: 100%; 
}
body nav {
  max-width: 660px;
  padding: 20px 0;
  overflow: hidden;
}

body .logo {
  margin: 0;
  height: 50px;
  top: 0;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
}
body ul {
  margin: 0;
  margin-right: 25px;
  padding-left: 0;
  float: right;
  height: 70px;
  line-height: 70px;
}
body a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
body ul li{
	position: relative;

}
body li a {
  color: #868686;
  	color: transparent;
	-webkit-text-stroke:1px red;
	font-size: 14px;
	position:relative; ;
	left: 0;

	
}
body li {
  display: inline-block;
  margin-left: 4px;
  transition: .5s linear;
}
body ul li a::before{
	opacity: 0.1;
	content: attr(data-text);
	position: absolute;
	color:white;
	width: 0;
	overflow: hidden;
	transition: 1s;
	border-right: 5px solid #353b39;
	height: 80%;

}
body ul li a:hover::before{
 	opacity: 1;
	width: 100%;
	-webkit-text-stroke:0.8px white;
	text-shadow: 2px 2px 2px red;
}
		}